---
version: 2.1

orbs:
  megalinter: relativesure/megalinter@volatile

# define the parameters from the setup config.
parameters:
  megalinter:
    type: boolean
    default: false
  build-fedora-image:
    type: boolean
    default: false

workflows:
  run-megalinter:
    jobs:
      - megalinter/megalinter:
          persist_megalinter_reports: true
          run_git_operations: true
          git_base_branch: master
          executor:
            flavor: cupcake
          context:
            - Main Context
