version: 2.1 
executors:  
   megalinter-executor: 
     docker: 
       - image: oxsecurity/megalinter-python:v8.3.0 
         auth: 
           # ensure you have first added these secrets 
           # visit app.circleci.com/settings/project/github/RelativeSure/autocopr/environment-variables 
           username: $DOCKER_HUB_USER 
           password: $DOCKER_HUB_PASSWORD
jobs: 
  megalinter: 
    executor: megalinter-executor 
    steps: 
      - checkout 
      - run: ls -larth 
      - run: 
          name: Whats here? 
          command: echo $CIRCLE_WORKING_DIRECTORY 
      - run: 
          name: ml 
          command: bash /entrypoint.sh 
          environment: 
            APPLY_FIXES: all 
            APPLY_FIXES_EVENT: push 
            APPLY_FIXES_MODE: pull_request 
            #GITHUB_TOKEN: ${{ secrets.KUBEARCHITECTBOT_TOKEN || secrets.GITHUB_TOKEN }} 
            SARIF_REPORTER: 'true' 
            GITHUB_STATUS_REPORTER: 'true' 
            GITHUB_COMMENT_REPORTER: 'false' 
            VALIDATE_ALL_CODEBASE: 'true' 
            DEFAULT_WORKSPACE: "/root/project"
            GITHUB_WORKSPACE: "/root/project"
workflows: 
  my-custom-workflow: 
    jobs:  
      - megalinter